body {
	background-color:#ffcc99;
	font: normal 15px Courier New, monospace;
	border: none;
	width: 100%;
	height: 100%;
	margin: 0;
	spacing: 0;
	padding: 0;
	overflow: hidden;}

.Zone-Visu {
	background-color:#f0e68c;
	width:100%;
	overflow-x: scroll;
	margin: 0;
	spacing: 0;
	padding: 0;
	border: 0 none;}

.Zone-Ctl {
	width: 100%;
	font-size: 15px;
	margin: 0;
	spacing: 0;
	padding: 0;
	border: 0 none;}

.Menu {
	background: #ffcc99;
	position: float;
	width: 100%;
	overflow-x: scroll;
	border: none;
	vertical-align: top;
	margin: 0;
	spacing: 0;
	padding: 0;}

.Option_N1 {
	height: 30px;
	min-width:50px;
	font-weight: 800;
	font: normal 15px Lucidatypewriter, monospace;
	padding: 0;
	spacing: 0;
	margin: 0;
	background-color: #ccccff;
	border-radius: 30%;
	border-width: 5px;
	border-style: inset;
	vertical-align: top;}	

.Option_N2 {
	height: 30px;
	min-width: 50px;
	font-weight: bold;
	font: normal 15px Arial, Helvetica, sans-serif;
	padding: 0;
	spacing: 0;
	margin: 0;
	background-color: #66cc66;
	border-radius: 30%;
	border-width: 5px;
	border-style: outset;
	vertical-align: top;}

.Saisie {
	width: 98%;
	size: 20;
	font-size: 15px;
	background-color: #eeeeee;}

.Titre {
	width: 100%;
	font-size: 16px;
	font-weight:bold;
	text-align:center;
	background-color: #aaaaaa;}

.Visu_Table {
	white-space: nowrap;
	min-width: 100%;
	border-collapse: collapse;
	border: none;
	spacing: 0;
	margin: 0;
	padding: 0;}

.Visu_Table td {
	font: normal 16px Arial, Helvetica, sans-serif;
	min-width: 100%;
	border: 1px solid red;
	spacing: 0;
	padding: 0;	
	margin: 0;}
  
.fond-2 {
	background-color: #cccccc;}  
  
.fond-3 {
	background-color: #dddddd;}